<h1>Data Dokter</h1>

<table>
  <tr>
    <th>Kode</th>
    <th>Nama</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @dokters.each do |dokter| %>
  <tr>
    <td><%= dokter.kode %></td>
    <td><%= dokter.nama %></td>
    <td><%= link_to 'Lihat', dokter %></td>
    <td><%= link_to 'Ubah', edit_dokter_path(dokter) %></td>
    <td><%= link_to 'Hapus', dokter, :confirm => 'Apakah anda yakin data ini dihapus?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%#= link_to 'New Dokter', new_dokter_path %>
