<%= form_for(@pemeriksaan) do |f| %>
  <% if @pemeriksaan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pemeriksaan.errors.count, "error") %> prohibited this pemeriksaan from being saved:</h2>

      <ul>
      <% @pemeriksaan.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :kode, :class => "required" %><br />
    <%= f.text_field :kode, :class => "required" %>
  </div>
  <div class="field">
    <%= f.label :nama, :class => "required" %><br />
    <%= f.text_field :nama, :class => "required" %>
  </div>
  <div class="field">
    <%= f.label :tarif, "Tarif (Rp.)"%><br />
    <%= f.text_field :tarif, :class => "number" %>
  </div>
  <div class="field">
    <%= f.label :flag, :class => "required" %><br />
    <%#= f.check_box :flag %>
    <%= f.radio_button :flag, 1, :style => "width: 50px;" %>Puskesmas<br />
    <%= f.radio_button :flag, 2, :style => "width: 50px;" %>Rumah Sakit
  </div>
  <div class="field">
    <%= f.label :jenis_pelayanan, :class => "required" %><br />
    <%#= f.text_field :kode_kategori %>
    <%= f.collection_select :kode_jenis_pelayanan, JenisPelayanan.all, :kode, :nama, {:prompt => true},:class => "required"%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
