<p>
  <b>Name:</b>
  <%= @function.name %>
</p>

<p>
  <b>Controller name:</b>
  <%= @function.controller_name %>
</p>

<p>
  <b>Action name:</b>
  <%= @function.action_name %>
</p>


<%= link_to 'Edit', edit_function_path(@function) %> |
<%= link_to 'Back', functions_path %>
