<% @user.password = @user.password_confirmation = nil %>
<%= form_for(@user, :url => {:action => "update_password", :id => @user.id}, :html => { }) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <b style="width: auto; padding-right: 10px">Login:</b> <%= @user.login %>
  </p>
  <div class="field">
    <%= f.label :old_password, "Sandi Lama" %><br />
    <%= f.password_field :old_password, :value => nil, :class => "required" %>
  </div>
  <div class="field">
    <%= f.label :password, "Sandi Baru" %><br />
    <%= f.password_field :password, :value => nil, :class => "required" %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, 'Konfirmasi Sandi Baru'  %><br />
    <%= f.password_field :password_confirmation, :value => nil, :class => "required" %>
  </div>
  <div class="actions">
    <%= f.submit '', :class => "hide_button" %>
  </div>
<% end %>

