<h1>Listing kabupatens</h1>

<table>
  <tr>
    <th>Kode</th>
    <th>Nama</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @kabupatens.each do |kabupaten| %>
  <tr>
    <td><%= kabupaten.kode %></td>
    <td><%= kabupaten.nama %></td>
    <td><%= link_to 'Show', kabupaten %></td>
    <td><%= link_to 'Edit', edit_kabupaten_path(kabupaten) %></td>
    <td><%= link_to 'Destroy', kabupaten, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Kabupaten', new_kabupaten_path %>
