<p id="notice"><%= notice %></p>

<p>
  <b>Kode:</b>
  <%= @peserta_jkbm.kode %>
</p>

<p>
  <b>No pelayanan:</b>
  <%= @peserta_jkbm.no_pelayanan %>
</p>

<p>
  <b>No kk:</b>
  <%= @peserta_jkbm.no_kk %>
</p>

<p>
  <b>Nik:</b>
  <%= @peserta_jkbm.nik %>
</p>

<p>
  <b>Ktp:</b>
  <%= @peserta_jkbm.ktp %>
</p>

<p>
  <b>No ejkbm:</b>
  <%= @peserta_jkbm.no_ejkbm %>
</p>

<p>
  <b>Kode kabupaten:</b>
  <%= @peserta_jkbm.kode_kabupaten %>
</p>

<p>
  <b>Flag:</b>
  <%= @peserta_jkbm.flag %>
</p>


<%= link_to 'Edit', edit_peserta_jkbm_path(@peserta_jkbm) %> |
<%= link_to 'Back', peserta_jkbms_path %>
