<h1>Listing jenis_pelayanans</h1>

<table>
  <tr>
    <th>Kode</th>
    <th>Nama</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @jenis_pelayanans.each do |jenis_pelayanan| %>
  <tr>
    <td><%= jenis_pelayanan.kode %></td>
    <td><%= jenis_pelayanan.nama %></td>
    <td><%= link_to 'Show', jenis_pelayanan %></td>
    <td><%= link_to 'Edit', edit_jenis_pelayanan_path(jenis_pelayanan) %></td>
    <td><%= link_to 'Destroy', jenis_pelayanan, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Jenis pelayanan', new_jenis_pelayanan_path %>
