<script type="text/javascript">
  jQuery(document).ready(function() {
    jQuery( "#verifikasi_tgl_masuk").datepicker( { dateFormat: 'dd-mm-yy', changeMonth: true, changeYear: true, showOtherMonths: true, selectOtherMonths: true } );
    jQuery( "#verifikasi_tgl_keluar").datepicker( { dateFormat: 'dd-mm-yy', changeMonth: true, changeYear: true, showOtherMonths: true, selectOtherMonths: true } );
  });
</script>

<%= form_for(@verifikasi) do |f| %>
  <% if @verifikasi.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@verifikasi.errors.count, "error") %> prohibited this verifikasi from being saved:</h2>

      <ul>
      <% @verifikasi.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<h2>Data Pasien</h2>
<div class="" style="float: left; margin-right: 100px">
    <p>
      <b>Kode:</b>
      <%= @verifikasi.kode %>

    </p>
    <p>
      <b>Nama Pasien:</b>
      <%= @verifikasi.nama_pasien == ""? "-" : @verifikasi.nama_pasien %>
      <%= hidden_field :verifikasi,:nama_pasien %>
    </p>
    <!--<p>
      <b>Nomor Pelayanan:</b>
      <%#= @verifikasi.no_pelayanan %>
      <%#= hidden_field :verifikasi, :no_pelayanan %>
    </p>-->
    <p>
      <b>No. KK:</b>
      <%= @verifikasi.no_kk == ""? "-" : @verifikasi.no_kk%>
      <%= hidden_field :verifikasi, :no_kk %>
    </p>
    <p>
      <b>No. NIK:</b>
      <%= @verifikasi.nik  == ""? "-" : @verifikasi.nik%>
      <%= hidden_field :verifikasi,:nik %>
    </p>
    <p>
      <b>No. KTP:</b>
      <%= @verifikasi.ktp  == ""? "-" : @verifikasi.ktp%>
      <%= hidden_field :verifikasi,:ktp %>
    </p>
  </div>

  <div style="float: left; margin-right: 100px">
     <p>
      <b>No. EJKBM:</b>
      <%= @verifikasi.no_ejkbm %>
      <%= hidden_field :verifikasi,:no_ejkbm %>
    </p>
    <p>
      <b>Alamat:</b>
      <%= @verifikasi.alamat %>
      <%= hidden_field :verifikasi,:alamat %>
    </p>
    <p>
      <b>Kabupaten:</b>
      <%= @verifikasi.kabupaten.nama rescue '-' %>
      <%= hidden_field :verifikasi,:kode_kabupaten %>
    </p>
    <!--<p>
      <b>Tanggal Masuk:</b>
      <%#= @verifikasi.tgl_masuk.to_date %>
      <%#=l(@verifikasi.tgl_masuk.to_time, :format => :ind) rescue ''%>
      <%#= hidden_field :verifikasi,:tgl_masuk %>

    </p>-->
  </div>


  
<div class="" style="float: left; margin-right: 0px">
  <p>
  <b>Status Verifikasi:</b>
  <%= @verifikasi.status_verifikasi_text %>
  </p>
  <% if @verifikasi.status_verifikasi == 2 || @verifikasi.status_verifikasi == 3 %>
   <p>
    <b>Komentar:</b>
    <%= @verifikasi.komentar rescue '' %>
   </p>
  <%end%>
</div>
<div style="clear: both"></div>

  <div style="">
    <hr/>
    <div class="" style="float: left; margin-right: 20px; margin-top: 10px;">
      <div class="field">
        <%= label :verifikasi,:tgl_masuk, :class => "required" %><br />
        <%= text_field :verifikasi,:tgl_masuk, :class => "required", :value => (@verifikasi.tgl_masuk.to_date.strftime("%d-%m-%Y") rescue '') %>
      </div>
      <div class="field">
        <%= label :verifikasi,:tgl_keluar, :class => "required" %><br />
        <%= text_field :verifikasi,:tgl_keluar, :class => "required", :value => (@verifikasi.tgl_keluar.to_date.strftime("%d-%m-%Y") rescue '') %>
      </div>
      <div class="field">
        <%= label :verifikasi,:norm, 'No. RM', :class => "required" %><br />
        <%= text_field :verifikasi,:norm, :class => "required", :value => @verifikasi.norm rescue '' %>
      </div>
      <div class="field" >     
        <%= label :verifikasi,:dokter, :class => "required" %><br />
        <%= collection_select :verifikasi, :dokter, Dokter.order("nama"),:nama, :nama, {:prompt => true },:class => "required", :value => (@verifikasi.dokter rescue '') %>
        <%= hidden_field :verifikasi, :kode_peserta_jkbm, :class => "", :value => @verifikasi.kode_peserta_jkbm rescue '' %>
        <%= hidden_field :verifikasi, :kode, :class => "", :value => @verifikasi.kode rescue '' %>
      </div>
    </div>
    <div class="" style="float: left; margin-right: 20px; margin-top: 10px;">
      <div class="field">
        <%= label :verifikasi,:kode_jenis_pelayanan, 'Jenis Pelayanan', :class => "required" %><br />
        <%= collection_select :verifikasi,:kode_jenis_pelayanan, JenisPelayanan.order("nama"),:kode, :nama, {:prompt => true}, :class => "required", :value => (@verifikasi.kode_jenis_pelayanan rescue '') %>
      </div>
      <div class="field">
        <%= label :verifikasi,:poli, :class => "required" %><br />
        <%= collection_select :verifikasi,:kode_instalasi_layanan, InstalasiLayanan.order("nama"),:kode, :nama, {:prompt => true}, :class => "required", :value => (@verifikasi.kode_instalasi_layanan rescue '') %>
      </div>
      <div class="field">
        <%= label :verifikasi,:keluhan, :class => "required" %><br />
        <%= text_field :verifikasi,:keluhan, :class => "required", :value => (@verifikasi.keluhan rescue '') %>
      </div>
      
    </div>
    <div style="float: left; margin-top: 10px;">
      <div class="field">
        <%= label :verifikasi,:diagnosa_icd, :class => "required" %><br />
        <%= text_area :verifikasi,:diagnosa_icd, :class => "required", :value => (@verifikasi.diagnosa_icd rescue '') %><br />
        <i>Setiap diagnosa dipisahkan oleh underscore ( _ )</i>
      </div>
      <div class="field">
        <%= label :verifikasi,:nama_diagnosa_icd, :class => "required" %><br />
        <%= text_area :verifikasi,:nama_diagnosa_icd, :class => "required", :value => (@verifikasi.nama_diagnosa_icd rescue '') %><br/>
        <i>Setiap diagnosa dipisahkan oleh underscore ( _ )</i>
      </div>
    </div>
    <div style="clear: both"></div>
  </div>
    
    
<h2>Pemeriksaan</h2>
<div class="" style="width: auto">
    <%= render :partial => "verifikasis/tabel_pemeriksaan", :locals => {:kode_verifikasi => (@verifikasi.kode rescue nil), :status_verifikasi => (@verifikasi.status_verifikasi.to_i rescue 0)} %>
</div>

<h2>Obat</h2>
<div class="" style="width: auto">
    <%= render :partial => "verifikasis/tabel_obat", :locals => {:kode_verifikasi => (@verifikasi.kode rescue nil), :status_verifikasi => (@verifikasi.status_verifikasi.to_i rescue 0) } %>
</div>

<h2>Tindakan</h2>
<div class="" style="width: auto">
    <%= render :partial => "verifikasis/tabel_tindakan", :locals => {:kode_verifikasi => (@verifikasi.kode rescue nil), :status_verifikasi => (@verifikasi.status_verifikasi.to_i rescue 0) } %>
</div>

<h2>Tindakan Penunjang</h2>
<div class="" style="width: auto">
    <%= render :partial => "verifikasis/tabel_tindakan_penunjang", :locals => {:kode_verifikasi => (@verifikasi.kode rescue nil), :status_verifikasi => (@verifikasi.status_verifikasi.to_i rescue 0) } %>
</div>

<h2>Pelayanan Lain</h2>
<div class="" style="width: auto">
    <%= render :partial => "verifikasis/tabel_pelayanan_lain", :locals => {:kode_verifikasi => (@verifikasi.kode rescue nil), :status_verifikasi => (@verifikasi.status_verifikasi.to_i rescue 0) } %>
</div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
