<div style="overflow: auto; border: 1px solid black;-moz-box-shadow: 0 0 5px #888; -webkit-box-shadow: 0 0 5px#888; box-shadow: 0 0 5px #888;">

<table style="text-align: center">
  <tr>
    <th>No</th>
    <th style="width : 100px">Tanggal</th>
    <th style="width : 225px">Nama</th>
    <th>Jumlah Tindakan</th>
    <th>Status Verifikasi</th>
    <th>Alasan</th>
    <th>Komentar</th>
    <%unless controller.action_name == "show" %>
      <th></th>
    <%end%>
  </tr>
  <% if (kode_verifikasi.nil? rescue true) %>
     <%
          @counter_tindakan_penunjang_penunjang = 0
          row = 1
          for i in 1..row do
          verifikasi_tindakan_penunjang = VerifikasiTindakan.new
          verifikasi_tindakan_penunjang.flag = 2
          #verifikasi_pemeriksaan.jumlah = nil
          @counter_tindakan_penunjang_penunjang = @counter_tindakan_penunjang_penunjang + 1
        %>
          <%= render :partial => "verifikasis/table_form_tindakan_penunjang", :locals => {:no => @counter_tindakan_penunjang_penunjang, :verifikasi_tindakan_penunjang_penunjang => verifikasi_tindakan_penunjang} %>
       <%end%>
  <%else%>
        <%
          @counter_tindakan_penunjang_penunjang = 0
          verifikasi_tindakan_penunjangs = VerifikasiTindakan.where(:kode_verifikasi => kode_verifikasi, :flag => 2)
          verifikasi_tindakan_penunjangs.each do |verifikasi_tindakan_penunjang|
            @counter_tindakan_penunjang_penunjang = @counter_tindakan_penunjang_penunjang + 1
        %>
          <%= render :partial => "verifikasis/table_form_tindakan_penunjang", :locals => {:no => @counter_tindakan_penunjang_penunjang, :verifikasi_tindakan_penunjang => verifikasi_tindakan_penunjang, :status_verifikasi => status_verifikasi} %>
        <%end%>
  <%end%>

      <tr id="new_baris_tindakan_penunjang">
        <% if (verifikasi_tindakan_penunjangs.empty? rescue false) %>
          <td colspan="1000">Data tidak tersedia</td>
        <%end%>
      </tr>
</table>

  <input type="hidden" id="counter_tindakan_penunjang" name="counter_tindakan_penunjang" value="<%= @counter_tindakan_penunjang_penunjang rescue 1 %>"/>

  </div>
<%unless controller.action_name == "show" %>
  <div style="cursor: pointer; width: 110px; margin: 10px;" onclick="tambah_baris_tindakan_penunjang()" class="button">
  <div style="float: left; margin-right: 5px">
    <%= image_tag 'add.png', :style => "width: 20px", :title => "Tambah Baris" %>
  </div>
  <div style="float: left; padding-top: 3px">
    Tambah Baris
  </div>
  <div style="clear: both"></div>
</div>
<%end%>

<script type="text/javascript">
  function tambah_baris_tindakan_penunjang(){
    $.ajax({
      url: "/verifikasis/add_new_list_tindakan_penunjang/new",
      dataType: "text",// "text/script/json",
      data: {
        authenticity_token: encodeURIComponent('<%= u form_authenticity_token %>'),
        counter_tindakan_penunjang: $('#counter_tindakan_penunjang').val()
      },
      beforeSend: function(data) {
        jQuery('#loading_body').toggle();
      },
      success: function(data) {
        $(data).insertBefore('#new_baris_tindakan_penunjang');
        $('#counter_tindakan_penunjang').val( parseInt($('#counter_tindakan_penunjang').val()) + 1 );
        make_table_tr_color();
      },
      complete: function(data) {
        jQuery('#loading_body').toggle();
      }
    });
  }
</script>