<br/><h1>Data Laporan <%= @nama_laporan  %> </h1>

<table>
  <tr>
    <th>Nama</th>
    <th>Tanggal Keluar</th>
    <th>Lama Hari Rawat</th>
    <th>Biaya (Rp)</th>
    <th>Penunjang Diagnostik (Rp)</th>
    <th>Tindakan Medis (Rp)</th>
    <th>Kantong Darah (Rp)</th>
    <th>Haemodialisa (Rp)</th>
    <th>Yan Obat (Rp)</th>
    <th>Total (Rp)</th>
    <th>Keterangan</th>
  </tr>

  <% @laporans.each do |laporan| %>
  <tr>
    <td><%= laporan["Nama"] %></td>
    <td><%= laporan["Tanggal Keluar"] %></td>
    <td><%= laporan["Lama Hari Rawat"] %></td>
    <td><%= laporan["Biaya"] %></td>
    <td><%= laporan["Penunjang Diagnostik"] %></td>
    <td><%= laporan["Tindakan Medis"] %></td>
    <td><%= laporan["Kantong Darah"] %></td>
    <td><%= laporan["Haemodialisa"] %></td>
    <td><%= laporan["Yan Obat"] %></td>
    <td><%= laporan["Total"] %></td>
    <td><%= laporan["Keterangan"] %></td>
  </tr>

<% end %>

</table>
