<script type="text/javascript">
  jQuery(document).ready(function() {
    jQuery( "#laporan_tanggal_awal " ).datepicker( { dateFormat: 'dd-mm-yy', changeMonth: true, changeYear: true, showOtherMonths: true, selectOtherMonths: true } );
    jQuery( "#laporan_tanggal_akhir " ).datepicker( { dateFormat: 'dd-mm-yy', changeMonth: true, changeYear: true, showOtherMonths: true, selectOtherMonths: true } );
  });
</script>

<h1>Form Laporan</h1>

<%= form_for(:laporan, :url => {:action => :laporan, :id => @id},
   :html => {:id => "new_laporan_form"}) do |f| %>

<div class="field" style="float: left;margin-right: 10px;">
    <label><b>Tanggal Awal</b></label><br/>
    <%= f.text_field :tanggal_awal , :style => "width : 200px"  , :value => @tanggal_awal   %>
</div>
<div class="field" style="float: left;margin-right: 10px">
    <label><b>Tanggal Akhir</b></label><br/>
    <%= f.text_field :tanggal_akhir , :style => "width : 200px"  , :value => @tanggal_akhir  %>
  </div>
<div class="field" style="float: left;margin-right: 10px">
    <label><b>Jenis Laporan</b></label><br/>
     <% option = [['Pilih Jenis Laporan', ''], ['Laporan Rekapitulasi Klaim Biaya Total Pelayanan', 'laporan1'], ['Laporan RekapitulasiR Klaim Biaya RITL', 'laporan2'], ['Laporan Rekapitulasi Klaim Biaya One Day Care', 'laporan3'], ['Laporan Rekapitulasi Klaim Biaya RJTL', 'laporan4'], ['Laporan Rekapitulasi Klaim Biaya IGD', 'laporan5']] %>
      <%= select :laporan, :jenis_laporan, option, {} , :value => @jenis_laporan%>
  </div>
<div style="clear : both"></div>
  <div class="actions">
    <%= f.submit %>
  </div>

<% if @jenis_laporan == 'laporan1' %>
  <%= render 'laporan1' %>
 <% elsif @jenis_laporan == 'laporan2'%>
  <%= render 'laporan2' %>
<%elsif @jenis_laporan == 'laporan3'%>
  <%= render 'laporan3' %>
<%elsif @jenis_laporan == 'laporan4'%>
  <%= render 'laporan3' %>
<%elsif @jenis_laporan == 'laporan5'%>
  <%= render 'laporan3' %>
<%else%>
<% end %>
<% end %>

