<!DOCTYPE html>
<html>
<head>
  <title>SIMVerifikasiEJKBM_RS</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div><%= @nama_laporan %></div>
  <divstyle="float: left;margin-right: 10px;">wawowo</div>
  <divstyle="float: left;margin-right: 10px;">wawawa</div>
  <div><%= yield %></div>
  <divstyle="float: left;margin-right: 10px;">wawowo</div>
  <divstyle="float: left;margin-right: 10px;">wawawa</div>
<%= yield %>

</body>
</html>
